
body,html{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
    display: grid;
    place-items: center;
}
#game{
    display: flex;
    justify-content: center;
    align-items: center;

}
#game div{
    margin: 1rem 1rem 3rem 1rem;
}
#player-one #choice-one, #player-two #choice-two{
    width: 100px;
    height: 100px;
    max-width: 300px;
    max-height: 300px;

    border: 1rem solid black;
    border-radius: 50%;
}

#player-one #score-one, #player-two #score-two{
    width: 50px;
    height: 20px;
    max-width: 250px;
    max-height: 250px;

    border: 3px solid black;
    border-radius: 1rem;
  margin: 0 auto;
}
/* Animatoin once the page is loaded into the game page */
/* Title */
h1{

 
    animation: startingGame 1.5s linear;
}
@keyframes startingGame{
    from{
        transform: translateY(-400px);
    }
    to{
        transform: translateY(0%);
    }
}
/* Players */
#player-one, #player-two{
    opacity: 0;
    animation: playerMotion 1s ease-in forwards;
    animation-delay: 1.5s;
}

@keyframes playerMotion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#container button{
    position: relative;
    width: 120px;
    height: 50px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor:pointer;
    /* z-index: 10000; */
}

/* Rule of the game */
#normal-rule, #advance-rule{
    position: absolute;
    top:  10%;
    left:0;
    right:0;
    bottom: 0;

    display: block;
    margin: 0 auto;
    opacity: 0;
    z-index: -1;

    max-width: 80%;
    height: fit-content;

    background-color: rgb(6, 28, 99);
    border-radius: 1rem;
    
}
.cross{
    position: relative;
    display: block;
    float: right;
    margin: 1rem;
}
#normal-rule svg:nth-child(2), #advance-rule svg:nth-child(2){
    display: block;
    margin: 4rem auto; 
    max-width: 340px;
    max-height: 330px;
}

.ruleDisplay{
    animation: rule 1s linear forwards;
    animation-delay: 3s;
}

@keyframes rule{
    from{
        opacity: 0;
        z-index: 0;
    }
    to{
        opacity: 1;
        z-index: 100;
    }
}

/* Game mode: Normal mode __________________________________________________________________________________________________________________________________ */
.container-mode{
    height: fit-content;
    max-width: 70%;
    
    background-color: rgb(115, 173, 173);

    text-align: center;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    
    opacity: 0;

    border-radius: 1rem;
}

.choiceDisplay{
    animation: rule 1s linear forwards;
}

.container-mode > div{
    display: block;
    margin: 0 auto;
    padding: 5rem;
}

.container-mode > div > h1{
    margin: 1rem 0 2rem 0rem;
    padding-bottom: 0rem 0rem 3rem 0rem;
}

.container-mode > div > div{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.choice-icon:hover{
    transform: scale(1.2);
}

#choice-one, #choice-two{
    width: fit-content;
    height:fit-content;
    border: 1px solid black;
    border-radius: 50%;
}

#choice-one svg, #choice-two svg{
    padding: 1rem;
}

.choice-icon svg{
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    animation: popping 0.5s linear infinite;
}
@keyframes popping{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);        
    }
}

/* Media Query __________________________________________________________________________________________________________________________________ */
@media (max-width: 1024px){
    .choice-icon svg{
       width:  40px;
       height: 40px;
    }
}
@media (max-width: 760px){
    .cross{
        width: 15px;
        height: 15px;
        justify-self: end;
    }
    #normal-rule svg:nth-child(2), #advance-rule svg:nth-child(2){
        width: 300px;
        height: 290px;
    }
    .choice-icon svg{
       width:  80px;
       height: 80px;
       
    }
    .container-mode > div > div{
        display: inline ;
        place-items: center;
    } 
}
@media (max-width: 500px){
    .cross{
        width: 10px;
        height: 10px;
    }
    #normal-rule svg:nth-child(2), #advance-rule svg:nth-child(2){
        width: 250px;
        height: 240px;
    }
    .choice-icon svg{
       width:  60px;
       height: 60px;
       margin-top: 0.5rem;
       
    }
    .container-mode > div > h1{
        font-size: 25px;
    } 
}

@media (max-width: 430px){
    .cross{
        width: 10px;
        height: 10px;
    }
    #normal-rule svg:nth-child(2), #advance-rule svg:nth-child(2){
        width: 150px;
        height: 140px;
    }
    .choice-icon svg{
       width:  60px;
       height: 60px;
       margin-top: 0.5rem;
       
    }
    .container-mode > div > h1{
        font-size: 25px;
    } 
}


























