/* Main page of the game */
body{
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 50px;
    background-color: #d8dbe2;
}

#icon{
    max-width: 100%;
    max-height: fit-content;
    background-color:#54565f;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}


#icon svg{
    margin: 3rem 3rem 0rem 3rem;
    background-color: yellow;
    border-radius: 20%;

    padding: 1rem;
}

/* After the mode is chosen */
.jump-icon{
    transform: translateY(-3rem) scale(1.1);
}

main h1{
    font-size: 4rem ;
}

main h1 span:hover{

    cursor:pointer;
    animation: jumping 1s ease-in;
}

@keyframes jumping{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}


#mode button{
    width: 10rem;
    height: 5rem;

    margin: 0 5rem;

    border: none;
    border-radius: 2rem;

    font-size: 1.2rem;
}

#mode button:focus{
    transform: translateY(-10px);
    box-shadow: -1px 24px 22px -15px rgba(0,0,0,0.7);
}

#start-button{
    width: 20rem;
    height: 5rem;

    margin: 3rem 0rem;
    border-radius: 5rem;

    font-size: 1.5rem;
}

button:hover{
    transform: scale(1.1);
    
}


/* Loading */
#loading{
    position: absolute;
    
    width: 500px;
    height: 500px;

    background-color: black;
    opacity: 0.8;


    color: white;
    display: none;
}

#loading #loading-sign{

    display: block;
    margin: 6rem auto;

    width: 150px;
    height: 150px;

    border: 5px solid white;
    border-radius: 50%;

    clip-path:polygon(0% 0%, 100% 0%, 100% 80%, 0% 0%);
    animation: loadingAnimation 3s linear infinite;
}

@keyframes loadingAnimation{

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }



}